<!DOCTYPE html>
<html lang="en">

<head>
    <title>BSV : Performed Task</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/app.css" />
</head>

<body>
    <header id="managerHeader"></header>
    <main class="admin-main-wrapper container">

        <div class="profile-wrapper text-right">
            <ul>
                <li><span id="userName"></span></li>
                <li><a href="/manager/logout">Logout</a></li>
            </ul>
        </div>

        <div class="main-content">
            <div class="task-heading-wrapper">
                <h1>My Dashboard</h1>
            </div>
            <div id="divTotalTask"></div>
            <div id="divApprovedTask"></div>
            <div id="divPendingTask"></div>
            <div id="divPointsEarned"></div>
            <div id="divPointsYetEarned"></div>

            <div class="task-heading-wrapper">
                <h1>My team Dashboard</h1>
            </div>
            <div id="divMyTeamTotalTask"></div>
            <div id="divMyTeamApprovedTask"></div>
            <div id="divMyTeamPendingTask"></div>
            <div id="divMyTeamPointsEarned"></div>
            <div id="divMyTeamPointsYetEarned"></div>
        </div>
        <div id="chart_div"></div>
    </main>

    <div class="loader-wrapper-login none">
        <div class="loader"></div>
    </div>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/axios.min.js"></script>
    <script src="/js/front.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/managerv1.js"></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script>
        $(function () {
            // console.log( "ready! -My Dashboard" );
            setupMyDashboard();

            google.charts.load('current', { 'packages': ['corechart'] });
            google.charts.setOnLoadCallback(myDashboardChartData);

            // function drawVisualization() {
            //     // Some raw data (not necessarily accurate)
            //     var data = google.visualization.arrayToDataTable([
            //         ['Month', 'Bolivia', 'Ecuador', 'Madagascar', 'Papua New Guinea', 'Rwanda', 'Average'],
            //         ['2004/05', 165, 938, 522, 998, 450, 614.6],
            //         ['2005/06', 135, 1120, 599, 1268, 288, 682],
            //         ['2006/07', 157, 1167, 587, 807, 397, 623],
            //         ['2007/08', 139, 1110, 615, 968, 215, 609.4],
            //         ['2008/09', 136, 691, 629, 1026, 366, 569.6]
            //     ]);

            //     var options = {
            //         title: 'Monthly Coffee Production by Country',
            //         vAxis: { title: 'Cups' },
            //         hAxis: { title: 'Month' },
            //         seriesType: 'bars',
            //         series: { 5: { type: 'line' } }
            //     };

            //     var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
            //     chart.draw(data, options);
            // }
        });





    </script>
</body>

</html>