<!DOCTYPE html>
<html lang="en">

<head>
    <title>BSV : Dashboard </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/admin.css" />
</head>

<body class="dashboard">
    <main class="admin-main-wrapper">
        <header id="adminHeader"></header>

        <div class="main-content">

            <div class="center-layout">
                <div>
                    <div class="dashboard-logo">
                        <img src="img/bsv-logo.png" alt="logo" class="img-responsive" />
                    </div>
                    <!-- <div id="chart_div"></div> -->
                    <ul class="points-wrapper">
                        <li class="south">
                            <img src="img/South-Heros.png" alt="bg" class="img-responsive name-img" />
                            <span class="text" id="southPoints">0</span>
                            <img src="img/points-bg.png" alt="bg" class="img-responsive" />
                        </li>
                        <li class="east">
                            <img src="img/East-Hunters.png" alt="bg" class="img-responsive name-img" />
                            <span class="text" id="eastPoints">0</span>
                            <img src="img/points-bg.png" alt="bg" class="img-responsive" />
                        </li>
                        <li class="west">
                            <img src="img/West-Eagles.png" alt="bg" class="img-responsive name-img" />
                            <span class="text" id="westPoints">0</span>
                            <img src="img/points-bg.png" alt="bg" class="img-responsive" />
                        </li>
                        <li class="north">
                            <img src="img/North-Warriors.png" alt="bg" class="img-responsive name-img" />
                            <span class="text" id="northPoints">0</span>
                            <img src="img/points-bg.png" alt="bg" class="img-responsive" />
                        </li>
                    </ul>

                    <ul class="points-wrapper-footer">
                        <li>
                            <span class="points" id="toppkam">0</span>
                            <img src="img/Top-Performing-KAM.png" alt="bg" class="img-responsive" />
                            <span class="name" id="topkamname">Shiv Kar</span>
                        </li>
                        <li>
                            <span class="points" id="toppzbm">0</span>
                            <img src="img/Total-Points.png" alt="bg" class="img-responsive" />
                        </li>
                        <li>
                            <span class="points" id="topprbm">0</span>
                            <img src="img/Top-Performing-RBM.png" alt="bg" class="img-responsive" />
                            <span class="name" id="toprbmname">Omkar</span>
                        </li>
                    </ul>

                    <footer id="adminFooter"></footer>
                </div>
            </div>

        </div>

        
    </main>

    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/admin.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</body>
<script>
    $(function () {
        // console.log( "ready! -My Dashboard" );
         setupMyDashboard();

        google.charts.load('current', { 'packages': ['line', 'corechart'] });
        //google.charts.setOnLoadCallback(drawChart);

    });





</script>

</html>