@import './fonts.scss';
// font family
$regular: 'Regular';
$lightItalic: 'LightItalic';
$bold: 'Bold';
$extraBold: 'ExtraBold';
// font family
// color
$black-color: #000;
$white-color: #fff;
$primary-color:#007ebf;
$secondary-color:#00c8b6;
$light-grey: rgba(0, 0, 0, 0.5);
$light-dark: rgba(0, 0, 0, 0.2);

// color
// font size
$xx-small-font: 9px;
$x-small-font: 10px;
$small-font: 13px;
$medium-font: 16px;
$large-font: 18px;
$x-large-font: 24px;
$xx-large-font: 32px;
$xxx-large-font: 48px;
// font size